* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.para {
    margin: 15px;
}


.box1 {
    border: 2px solid black;
  padding: 15px;
  margin-bottom: 15px;
  margin: 10px;
}

.box2 {
  border-bottom: 2px solid red;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.box3 {
  border: 2px solid black;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}


.box4 {
  border-left: 6px solid blue;
  background: linear-gradient(to right, aqua);
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.circle {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.arc-shape {
width: 800cm,;
height: 50px;
    border: 2px solid black;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    margin-bottom: 10px;
    margin-left: 10px;
  margin-right: 10px;}


.popup-body {
color: white;
background-color: blue;
outline: 50px ;
border-top: 50px solid red;
margin: auto;
padding: 40px;
width: 65%;
height: 7cm;
}

.redbg {
    background-color: red;
   height: 2cm;
   margin-top: 15px;
   margin-left: 10px;
  margin-right: 10px;
}


.text-box {
  width: auto;
  height: 200px;
  border: 2px solid red;
  padding: 10px;
  margin: 20px;
  font-size: xx-large;
  overflow: auto;
}

.hidden-box {
  background-color: orangered;
  padding: 15px;
  margin-top: 20px;
  width: 200px;
  height: 200px;}

  